<script lang="typescript">
  import Nav from '../components/Nav.svelte';
  import AudioPlayer from '../components/AudioPlayer.svelte';
  import { currentEpisode$, Episode } from '../_stores';
  let currentEpisode: Episode;
  currentEpisode$.subscribe((e) => (currentEpisode = e));
  export let segment;
</script>

<Nav {segment} />

<main>
  <slot />
  {#if currentEpisode}
    <div class="audio">
      <AudioPlayer />
    </div>
  {/if}
</main>
<div class="bottom-padding" />
<div class="trademark">
  <div>Stories From the Center of the Universe™ 2021</div>
</div>

<style>
  main {
    position: relative;
    max-width: 60em;
    background-color: white;
    padding: 2em;
    margin: 0 auto;
    box-sizing: border-box;
  }
  .audio {
    position: fixed;
    bottom: 1em;
    left: 1em;
    right: 1em;
  }
  .bottom-padding {
    height: 8em;
  }
  .trademark {
    text-align: center;
    padding-bottom: 3rem;
  }
</style>
