<script>
  import SocialLogos from "../components/SocialLogos.svelte";
  import About from "../content/about.md";
  import marked from "marked";
</script>

<svelte:head>
  <title>About</title>
</svelte:head>

{@html marked(About.content)}
<SocialLogos />
