<script context="module">
  export function preload() {
    return this.fetch(`index.json`)
      .then((r) => r.json())
      .then((episodes) => {
        return { episodes };
      });
  }
</script>

<script>
  import EpisodeCard from '../components/EpisodeCard.svelte';
  import SocialLogos from '../components/SocialLogos.svelte';
  import { retrieveEpisodeNumberFromTitle } from '../utils';
  export let episodes;
</script>

<svelte:head>
  <title>Stories from the Center of the Universe</title>
  <!-- <description>The podcast about interesting, everyday people</description> -->
</svelte:head>

<h1>Stories from the Center of the Universe</h1>
<div>
  {#each episodes as episode}
    <EpisodeCard
      {episode}
      slug="episode/{retrieveEpisodeNumberFromTitle(episode.title)}"
    />
  {/each}
</div>
<SocialLogos />

<style>
  div {
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 2em;
    row-gap: 2em;
  }

  h1 {
    margin: auto;
    text-align: center;
    margin-bottom: 5rem;
    font-weight: 200;
    color: darkorange;
    text-shadow: 0 0 0.25rem darkorange;
    font-size: xx-large;
  }

  @media only screen and (max-width: 600px) {
    div {
      grid-template-columns: auto;
    }
  }
</style>
