<script>
  import Button, { Label } from "@smui/button";
  import SocialLogos from "../components/SocialLogos.svelte";

  const EMAIL_ENDPOINT =
    "https://7f194w8gn5.execute-api.us-east-1.amazonaws.com/dev/mailer";
  let name,
    replyTo,
    message,
    loading = false,
    success = false,
    errorMessage;

  const submit = () => {
    loading = true;
    errorMessage = null;
    success = false;

    const body = { name, replyTo, message };
    fetch(EMAIL_ENDPOINT, {
      method: "POST",
      headers: {
        "content-type": "application/json",
      },
      body: JSON.stringify(body),
    })
      .then((response) => response.json())
      .then((data) => {
        success = true;
        name = "";
        replyTo = "";
        message = "";
      })
      .catch((error) => (errorMessage = error.message))
      .finally(() => (loading = false));
  };
</script>

<style>
  form {
    display: flex;
    flex-direction: column;
    width: 30em;
  }
  input {
    width: 15em;
  }
  textarea {
    width: 30em;
    height: 5em;
  }
  .submit-container {
    margin-top: 1em;
    width: 5em;
    display: flex;
    flex-direction: row;
  }
  .result-text {
    margin-left: 2em;
  }
</style>

<svelte:head>
  <title>Talk to Us</title>
</svelte:head>

<h2>Share your thoughts!</h2>
<form on:submit|preventDefault={submit}>
  <label for="name">Name</label>
  <input type="text" id="name" bind:value={name} required />
  <label for="replyTo">Email</label>
  <input type="email" id="replyTo" bind:value={replyTo} required />
  <label for="message">Message</label>
  <textarea id="message" bind:value={message} required />
  <div class="submit-container">
    <Button disabled={loading} type="submit" class="mdc-button--raised">
      <Label>{loading ? 'Sending...' : 'Submit'}</Label>
    </Button>
    {#if success}
      <p class="result-text">Sent!</p>
    {:else if errorMessage}
      <p class="result-text">{errorMessage}</p>
    {/if}
  </div>
</form>
<SocialLogos />
