<script context="module">
  export async function preload({ params, query }) {
    // the `slug` parameter is available because
    // this file is called [slug].svelte
    const res = await this.fetch(`episode/${params.slug}.json`);
    const data = await res.json();

    if (res.status === 200) {
      return { episode: data };
    } else {
      this.error(res.status, data.message);
    }
  }
</script>

<script>
  import { currentEpisode$ } from "../../_stores";
  import Button, { Label } from "@smui/button";
  import SocialLogos from "../../components/SocialLogos.svelte";
  import Disqus from "../../components/Disqus.svelte";

  export let episode;
  let currentEpisode;

  currentEpisode$.subscribe((e) => (currentEpisode = e));

  function setCurrentEpisode() {
    currentEpisode$.update((_) => episode);
  }

  let playButtonText = "Play";
  $: playButtonText =
    currentEpisode && episode && currentEpisode.title === episode.title
      ? "Playing"
      : "Play";
</script>

<svelte:head>
  <title>{episode.title}</title>
  <meta property="og:title" content={episode.title} />
  <meta property="og:image" content={episode.imgUrl} />
  <!-- <meta property="og:audio" content={episode.audioUrl} /> -->
</svelte:head>

<div class="floated">
  <img src={episode.imgUrl} alt="Episode Cover" class="ep-image" />
</div>

<div class="content">
  <h1 class="title">{episode.title}</h1>
  <div class="buttons-container">
    <Button on:click={setCurrentEpisode} class="mdc-button--raised">
      <Label>{playButtonText}</Label>
    </Button>
    <SocialLogos />
  </div>
  {@html episode.descriptionHtml}
</div>

<Disqus />

<style>
  .ep-image {
    flex-basis: 20em;
    width: 20rem;
    height: 20rem;
    border-radius: 5px;
    margin-right: 1em;
  }
  .floated {
    float: left;
  }
  .content {
    min-height: 20rem;
  }
  .buttons-container {
    display: flex;
  }
</style>
