<script lang="typescript">
  import MdClose from "svelte-icons/md/MdClose.svelte";
  import { retrieveEpisodeNumberFromTitle } from "../utils";
  import { currentEpisode$, Episode } from "../_stores";

  let episodes: Episode[];
  currentEpisode$.subscribe((e) => (episodes = [e]));

  function close() {
    currentEpisode$.update((_) => null);
  }
</script>

<style>
  .container {
    border-radius: 5px;
    box-shadow: 2px 4px 4px 2px rgba(0, 0, 0, 0.2);
    background: white;
    padding: 1rem;
  }
  h3 {
    text-align: center;
  }
  a {
    text-decoration: none;
  }
  .close {
    position: absolute;
    width: 1rem;
    height: 1rem;
    top: 0.2rem;
    right: 0.2rem;
    cursor: pointer;
  }
  audio {
    width: 100%;
  }
</style>

<div class="container">
  <div class="close" on:click={close}>
    <MdClose />
  </div>
  <!-- 
  using an each block as a work-around to force the re-render of the <audio/> element
  when the current episode changes
   -->
  {#each episodes as episode (episode.audioUrl)}
    <a href={episode.slug}>
      <h3>{episode.title}</h3>
    </a>
    <audio controls autoplay>
      <source src={episode.audioUrl} type="audio/mpeg" />
      Your browser does not support playing audio.
    </audio>
  {/each}
</div>
