<script lang="typescript">
  import { onMount } from "svelte";

  onMount(() => {
    /* DISQUS */
    var disqus_config = function () {
      this.page.url = window.location.href;
      this.page.identifier = window.location.pathname;
    };

    (function () {
      // DON'T EDIT BELOW THIS LINE
      var d = document,
        s = d.createElement("script");
      s.src = "https://podso1-io.disqus.com/embed.js";
      s.setAttribute("data-timestamp", (+new Date()).toString());
      (d.head || d.body).appendChild(s);
    })();
  });
</script>

<style>
  #disqus_thread {
    padding-top: 4em;
  }
</style>

<div id="disqus_thread" />
