<script>
  import { fade } from "svelte/transition";
  export let open = false;
  export let segment;

  const close = () => {
    open = false;
  };
</script>

<style>
  a {
    text-decoration: none;
  }

  [aria-current] {
    color: darkorange;
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  li {
    margin: 0.25rem 0;
  }

  .drawer-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: flex;
  }
  .drawer {
    background-color: white;
    position: absolute;
    box-shadow: 3px 2px 5px gray;
    border-radius: 2px;
    top: 2rem;
    left: 2rem;
    padding: 0.75rem;
  }
</style>

{#if open}
  <div
    class="drawer-overlay"
    on:click={close}
    transition:fade={{ duration: 100 }}>
    <div class="drawer">
      <ul>
        <li>
          <a
            aria-current={segment === undefined ? 'page' : undefined}
            href="."
            on:click={close}>
            <span>episodes</span>
          </a>
        </li>
        <li>
          <a
            aria-current={segment === 'heritage' ? 'page' : undefined}
            href="heritage"
            on:click={close}>
            heritage
          </a>
        </li>
        <li>
          <a
            aria-current={segment === 'incubator' ? 'page' : undefined}
            href="incubator"
            on:click={close}>
            incubator
          </a>
        </li>
        <li>
          <a
            aria-current={segment === 'about' ? 'page' : undefined}
            href="about"
            on:click={close}>
            about
          </a>
        </li>
        <li>
          <a
            aria-current={segment === 'talk-to-us' ? 'page' : undefined}
            href="talk-to-us"
            on:click={close}>
            talk to us
          </a>
        </li>
      </ul>
    </div>
  </div>
{/if}
