<script lang="typescript">
  import { Episode } from '../_stores';

  export let episode: Episode;
  export let slug: string;

  function shortTitle() {
    if (episode.title.split(':')[1]) {
      return episode.title.split(':')[1].trim();
    } else if (episode.title.split('-')[1]) {
      return episode.title.split('-')[1].trim();
    } else {
      return episode.title;
    }
  }
</script>

<div class="card">
  <a href={slug}>
    <div
      class="image-and-title"
      style="background-image: url({episode.imgUrl}); "
    >
      <h3 class="title">{shortTitle()}</h3>
    </div>
    <p class="summary">
      {@html episode.description}
    </p>
  </a>
</div>

<style>
  .card {
    display: flex;
    flex-direction: column;
    justify-self: center;
    align-content: center;
    width: 20em;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
  }
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  }
  .image-and-title {
    height: 20em;
    display: flex;
    flex-direction: row;
    border-radius: 5px;
    background-size: 20rem;
  }
  .title {
    color: white;
    background: linear-gradient(0, black, transparent);
    align-self: flex-end;
    margin: 0;
    padding: 0.3em;
    width: 100%;
  }
  .summary {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    margin: 0.5em;
  }
  a {
    text-decoration: none;
  }
</style>
