<script>
  import IconButton from '@smui/icon-button';
  import Drawer from './Drawer.svelte';
  export let segment;
  let drawerOpen = false;

  const toggleDrawer = () => {
    drawerOpen = !drawerOpen;
  };
</script>

<div class="top-app-bar-container">
  <div class="drawer-container">
    <Drawer bind:open={drawerOpen} {segment} />
  </div>
  <div class="menu-container">
    <div class="menu-button">
      <IconButton class="material-icons" on:click={toggleDrawer}>
        menu
      </IconButton>
    </div>
    <a class="logo-link-container" href=".">
      🔭
      <!-- <img class="logo" src="logo.png" alt="Logo" /> -->
    </a>
    <ul class="topbar-ul">
      <li>
        <a aria-current={segment === undefined ? 'page' : undefined} href=".">
          <span>episodes</span>
        </a>
      </li>
      <li>
        <a
          aria-current={segment === 'heritage' ? 'page' : undefined}
          href="heritage"
        >
          heritage
        </a>
      </li>
      <li>
        <a
          aria-current={segment === 'incubator' ? 'page' : undefined}
          href="incubator"
        >
          incubator
        </a>
      </li>

      <li>
        <a
          aria-current={segment === 'about' ? 'page' : undefined}
          href="about"
        >
          about
        </a>
      </li>
      <li>
        <a
          aria-current={segment === 'talk-to-us' ? 'page' : undefined}
          href="talk-to-us"
        >
          talk to us
        </a>
      </li>
    </ul>
  </div>
</div>

<style>
  .topbar-ul {
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
    height: 100%;
  }

  .topbar-ul::after {
    content: '';
    clear: both;
  }

  .topbar-ul li {
    display: block;
    float: left;
    height: 100%;
  }

  .menu-container {
    display: flex;
    align-items: center;
  }

  [aria-current] {
    position: relative;
    display: inline-block;
  }

  [aria-current]::after {
    position: absolute;
    content: '';
    width: calc(100% - 1em);
    height: 2px;
    background-color: darkorange;
    display: block;
    bottom: 0;
  }

  a {
    text-decoration: none;
    padding: 0 0.5em;
    display: block;
    height: 64px;
    line-height: 64px;
  }

  .logo-link-container {
    height: 100%;
    display: flex;
    align-content: center;
    font-size: xx-large;
    /* padding: 0em 0.5em; */
  }
  .logo {
    height: 3em;
    align-self: center;
  }
  .top-app-bar-container {
    height: 64px;
  }
  @media only screen and (min-width: 600px) {
    .menu-button {
      display: none;
    }
    .drawer-container {
      display: none;
    }
  }
  @media only screen and (max-width: 600px) {
    .topbar-ul {
      display: none;
    }
  }
</style>
