<script>
  import spotifyLogo from "../../static/icons/spotify.svg";
  import appleLogo from "../../static/icons/apple.svg";
  import googleLogo from "../../static/icons/google.svg";
  import overcastLogo from "../../static/icons/overcast.svg";
  import facebookLogo from "../../static/icons/facebook.svg";
  import instagramLogo from "../../static/icons/instagram.svg";
  import youtubeLogo from "../../static/icons/youtube.svg";

  const SPOTIFY_URL =
    "https://open.spotify.com/show/2ZzGkaRtH5Y7nAJ2Izg4A8?si=jU3eqkpXR8iXL_lOxr3YNA";
  const APPLE_URL =
    "https://podcasts.apple.com/us/podcast/pod-so-1/id1491277411";
  const GOOGLE_URL =
    "https://podcasts.google.com/?feed=aHR0cHM6Ly9mZWVkLnBvZGJlYW4uY29tL3BvZHNvMS9mZWVkLnhtbA";
  const OVERCAST_URL = "https://overcast.fm/itunes1491277411/pod-so-1";
  const FACEBOOK_URL = "https://www.facebook.com/podso1podcast";
  const IG_URL = "https://www.instagram.com/podso1/";
  const YOUTUBE_URL =
    "https://www.youtube.com/channel/UCNHC09TYh2m5D4s0us7M4IA";

  const logos = [
    { svg: spotifyLogo, url: SPOTIFY_URL },
    { svg: appleLogo, url: APPLE_URL },
    { svg: googleLogo, url: GOOGLE_URL },
    { svg: overcastLogo, url: OVERCAST_URL },
    { svg: facebookLogo, url: FACEBOOK_URL },
    { svg: instagramLogo, url: IG_URL },
    { svg: youtubeLogo, url: YOUTUBE_URL },
  ];

  function captureOutboundLink(url) {
    ga("send", "event", "outbound", "click", url, {
      transport: "beacon",
      hitCallback: function () {
        document.location = url;
      },
    });
  }
</script>

<style>
  .logo {
    height: 2.5em;
    width: 2.5em;
    transition: 0.3s;
    cursor: pointer;
    padding: 0 0.5em;
  }
  .logo:hover {
    height: 3em;
    width: 3em;
  }
  .logo-container {
    display: flex;
    flex-wrap: wrap;
    max-width: 40em;
    margin: auto;
    padding: 1em;
    justify-content: center;
  }
</style>

<div class="logo-container">
  {#each logos as logo}
    <div class="logo">
      <a
        href={logo.url}
        target="_blank"
        on:click={() => {
          captureOutboundLink(logo.url);
          return false;
        }}>
        {@html logo.svg}
      </a>
    </div>
  {/each}
</div>
