<script context="module">
  export function preload({ params, query }) {
    return this.fetch(`incubator.json`)
      .then((r) => r.json())
      .then((episodes) => {
        return { episodes };
      });
  }
</script>

<script>
  import EpisodeCard from '../../components/EpisodeCard.svelte';
  import { retrieveEpisodeNumberFromTitle } from '../../utils';
  export let episodes;
</script>

<svelte:head>
  <title>The Stories from the Center of the Universe Incubator</title>
</svelte:head>
<h1>Trying to start a podcast?</h1>
<p>
  Getting the right equipment for a podcast can easily turn into a
  thousand-dollar investment. The incubator series allows our friends with
  podcast ideas to use our recording equipment and web infrastructure for a
  proof of concept before investing themselves. If you or someone you know may
  be interested, don't hesitate to
  <a href="talk-to-us">reach out</a>
  .
</p>
<br />
<div>
  {#each episodes as episode}
    <EpisodeCard
      {episode}
      slug="incubator/{retrieveEpisodeNumberFromTitle(episode.title)}"
    />
  {/each}
</div>

<style>
  div {
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 2em;
    row-gap: 2em;
  }

  @media only screen and (max-width: 600px) {
    div {
      grid-template-columns: auto;
    }
  }
</style>
