<script context="module">
  export function preload({ params, query }) {
    return this.fetch(`heritage.json`)
      .then((r) => r.json())
      .then((episodes) => {
        return { episodes };
      });
  }
</script>

<script>
  import EpisodeCard from "../../components/EpisodeCard.svelte";
  import { retrieveEpisodeNumberFromTitle } from "../../utils";
  export let episodes;
</script>

<style>
  div {
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 2em;
    row-gap: 2em;
  }

  @media only screen and (max-width: 600px) {
    div {
      grid-template-columns: auto;
    }
  }
</style>

<svelte:head>
  <title>Heritage Series</title>
</svelte:head>
<h1>Unedited, Unfiltered, Living History</h1>
<p>
  Conversations and scenes recorded with an enduring focus on heritage,
  history, and posterity.
</p>
<br />
<div>
  {#each episodes as episode}
    <EpisodeCard
      {episode}
      slug="heritage/{retrieveEpisodeNumberFromTitle(episode.title)}" />
  {/each}
</div>
